@media only screen and (max-width: 479px) {
  .container {
    width: 100%;
  }
  .hero {
    width: 90%;
    margin: 0;
    padding-top: 58px;
    padding-left: 6%;
    padding-right: 6%;
  }
  .hero .hero__menu {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 60px;
  }
  .hero .hero__menu .hero__navbar {
    width: 100%;
    font-size: 12px;
    height: auto;
  }
  .hero .hero__menu .logo-search__box {
    width: 100%;
    flex-direction: column;
  }
  .hero .hero__menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-top: 90px;
    height: fit-content;
  }
  .hero__menu .hero__navbar ul .navbar__item:last-child {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 48px;
  }
  .hero .hero__menu .logo-search__box .search__box {
    width: 100%;
    margin-top: 14px;
  }
  .hero .hero__menu .logo-search__box .search__box svg {
    width: 24px;
    height: 24px;
  }
  .hero .hero__menu .logo-search__box .search__box input {
    width: 100%;
    padding-left: 10%;
  }
  .hero .hero__images-text {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .hero .hero__images-text .hero__text {
    margin: 0;
    margin-top: 22px;
    width: 80%;
  }
  .hero .hero__images-text .hero__text .hero__text-heading {
    font-size: 20px;
    position: relative;
    height: auto;
    line-height: 30px;
  }
  .hero__images-text .hero__text .hero__text-heading img {
    position: absolute;
    bottom: 0;
    right: -16px;
    width: 30px;
    height: 30px;
  }
  .hero__images-text .hero__text .hero__text-content {
    font-size: 16px;
    margin-top: 6px;
  }
  .hero__images-text .hero__text .hero__text-actions {
    flex-direction: column-reverse;
    gap: 12px;
    margin-top: 12px;
  }
  .hero__images-text
    .hero__text
    .hero__text-actions
    .hero__text-actions-watch-text {
    position: relative;
    margin-left: 0;
  }
  .hero__images-text .hero__text .hero__text-actions .btn {
    width: 132px;
    height: 54px;
    border-radius: 27px;
    font-size: 16px;
  }
  .destination {
    width: 90vw !important;
    margin: 0 !important;
    padding: 6% !important;
  }
  .destination::after {
    display: none;
  }
  .destination::before {
    display: none;
  }
  .destination .destination__heading {
    flex-direction: column;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .destination .destination__heading h1 {
    margin-right: 0;
    text-align: center;
    font-size: 20px;
    width: 100%;
  }
  .destination .destination__heading p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    width: 90%;
    padding: 0;
    padding-bottom: 24px;
    height: auto;
  }
  .package {
    width: 90vw !important;
    margin: 0 !important;
    padding: 6% !important;
    margin-top: 24px;
  }
  .package .package__cards {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
  .package .package__heading {
    width: 100%;
  }
  .package .package__heading h1 {
    font-size: 20px;
  }
  .package .package__heading p {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .package .package__cards .package__card {
    width: 100%;
  }
  .package .package__cards .package__card img {
    width: 100%;
  }
  .gallery {
    width: 90vw !important;
    margin: 0 !important;
    padding: 6% !important;
    margin-bottom: 46px;
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
  }
  .gallery .gallery__images {
    margin-right: 0;
    align-self: flex-end;
    width: 80%;
    margin-right: 10%;
  }
  .gallery .gallery__images .gallery__images-left {
    width: 50%;
    justify-content: center;
    display: flex;
  }
  .gallery .gallery__images .gallery__images-right {
    width: 100%;
  }
  .gallery .gallery__text {
    width: 100%;
    margin-top: 24px;
  }
  .gallery .gallery__text .gallery__text-heading {
    font-size: 20px;
    width: 80%;
    line-height: 24px;
    height: auto;
    text-align: initial;
  }
  .gallery .gallery__text .gallery__text-content {
    width: 80%;
    height: auto;
    font-size: 16px;
    text-align: justify;
    margin: 8px 0;
  }
  .gallery .gallery__text .btn {
    width: 140px;
    height: 48px;
    border-radius: 23px;
  }

  .newsletter {
    flex-direction: column;
    width: 90vw !important;
    margin: 0 !important;
    padding: 6% !important;
  }
  .newsletter .newsletter__content .newsletter__content-header {
    font-size: 20px;
  }
  .newsletter .newsletter__input {
    align-self: flex-end;
    width: 100%;
    height: 42px;
  }
  .newsletter .newsletter__input input {
    font-size: 14px;
  }
  .newsletter .newsletter__input .btn {
    height: 42px;
    width: 112px;
    font-size: 14px;
  }
  .footer {
    padding: 6%;
  }
  .footer .footer__content-wrapper {
    flex-direction: column;
    margin: 0;
  }
  .footer .footer__content-wrapper .footer__contact {
    margin-bottom: 18px;
    width: 100%;
    padding-bottom: 14px;
    border-bottom: 1px solid #394659;
    justify-content: center;
  }
  .footer .footer__list .footer__heading {
    font-size: 16px;
    margin-right: 0;
    margin-bottom: 12px;
  }
  .footer .footer__content-wrapper .footer__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 14px;
  }
  .footer .footer__contact .footer__contact-logo {
    width: 276px;
  }
}
