.hero__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 36px;
  position: relative;
  height: 50px;
}
.hero__menu .logo-search__box {
  display: flex;
  flex-direction: row;
  width: 438px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hero__menu .logo-search__box .logo {
  width: 109px;
  height: 34px;
  font-family: "Sen", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  position: relative;
}
.hero__menu .logo-search__box .logo a {
  color: #05101f;
  text-decoration: none;
}
.hero__menu .logo-search__box .logo::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #3685fb;
  bottom: 9px;
  right: 6px;
  border-radius: 50%;
}
.hero__menu .logo-search__box .logo:hover {
  cursor: pointer;
}
.hero__menu .logo-search__box .search__box {
  box-sizing: border-box;
  width: 288px;
  height: 50px;
  left: 284px;
  top: 36px;
  border: 1px solid #e6e9ed;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__menu .logo-search__box .search__box svg {
  width: 16px;
  height: 16px;
  padding-left: 18px;
}
.hero__menu .logo-search__box .search__box svg:hover {
  cursor: pointer;
}
.hero__menu .logo-search__box .search__box input {
  width: 174px;
  height: 26px;
  left: 334px;
  top: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #a9afb9;
  outline: none;
  border: none;
  margin-right: 64px;
  background-color: transparent;
}
.hero__menu .hero__navbar {
  width: 578px;
}
.hero__menu .hero__navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  position: relative;
  align-items: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hero__menu .hero__navbar ul .navbar__item {
  list-style: none;
  width: 49px;
  height: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  width: fit-content;
  position: relative;
}
.hero__menu .hero__navbar ul .navbar__item::after,
.hero__menu .hero__navbar ul .navbar__item .active {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #3685fb;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: width 0.5s;
}
.hero__menu .hero__navbar ul .active::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: #3685fb;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 1px;
}
.hero__menu .hero__navbar ul .navbar__item:hover::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: #3685fb;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: width 0.3s;
}
.hero__menu .hero__navbar ul .navbar__item a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #52575f;
  text-decoration: none;
  width: fit-content;
}
.hero__menu .hero__navbar ul .navbar__item:hover {
  cursor: pointer;
}
.hero__menu .hero__navbar ul .navbar__item:hover a {
  font-weight: 600;
  color: #3685fb;
  transition: 0.3s;
}
.hero__menu .hero__navbar ul .active a {
  color: #3685fb;
  font-weight: 600;
}
.hero__menu .hero__navbar ul .navbar__item:last-child::after {
  display: none;
}
.hero__menu .hero__navbar ul .navbar__btn {
  width: 144px;
  height: 49px;
  padding: 11px 27px 10px 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  border-radius: 24.5px;
  outline: none;
  border: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero__menu .hero__navbar ul .navbar__btn:hover {
  cursor: pointer;
}
